
.success-page-order-info-div{

    display: flex;
    flex-direction: column;



}


.success-page-content {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(161, 2, 2);
 
}


.success-page-total-div {

display: flex;
flex-direction: column;


}


.success-page-title {
    color: white;
    font-size: 2rem;

}


.success-page-order-accept-text {
    color: white;
    font-size: 4rem;
    margin: 0;
}


.success-page-pizzas-info-text {
    color:white;
}