


.main-page-header {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 1rem;
    position: relative;
    z-index: 20;
    bottom: 45rem;
}

.main-page-row1 {
  font-size: 2rem;
    color: white;
    margin-bottom: 0;
}

.main-page-row2 ,
.main-page-row3 {
  font-size: 4rem;
    margin: 0;
    color: white ;
}



.hungry-button {
  width:193.27px;
  height: 56px;
  border-radius: 50px;
  background-color: #FDC913 ;
  color: black;
  margin-top: 2rem;
}

.main-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-options-div {
  display: flex;
  justify-content: space-around;
}

.food-options-icon{
  position: relative;
  top: 1rem
}

.food-options-div button:hover {
 background-color:  #caabab;
}


.food-card-div {
  display: flex;
    gap: 3rem;
    margin-top: 5rem;
}


.pizzas-ingredients-div {
  display: flex;
    gap: 11rem;
    margin-top: 1rem;
}


.pizza-infredients-checkbox-div-left,
.pizza-infredients-checkbox-div-mid,
.pizza-infredients-checkbox-div-right {
  display: flex;
  flex-direction: column;

}


.labelForName {
  position: relative;
  top: 2rem;
  font-weight: bold;
  
  right: 1.5rem;
}


.areaForName{
  position: relative;
    top: 3rem;
    width: 43rem;
}



@media (max-width: 768px) {


  .food-card-div {
    display: flex;
      gap: 3rem;
      margin-top: 5rem;
      flex-direction: column;
  }

  .food-options-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

.footer-div {
  display: flex;
    gap: 3rem;
    background-color: black;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.main-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
}

.main-page-header {
  display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 1rem;
        position: relative;
        z-index: 20;
        bottom: 14rem;
}

.main-page-row2, .main-page-row3 {
  font-size: 2rem;
  margin: 0;
  color: white;
}

.main-page-row1 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0;
  font-weight: bold;
  font-family: "Roboto Condensed";
}

.hungry-button {
  width: 98.27px;
  height: 38px;
  border-radius: 50px;
  background-color: #FDC913;
  color: black;
  margin-top: 0;
  font-size: 0.8rem;
}


}